<p>dnd works!</p>
<button (click)="viewInfo()">Veure Dades</button>
<img src="{{url+image}}" style="height: 100px;">
<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Accio</th>
        <th>Name</th>
        <th>Type</th>
        <th>Subtype</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let monster of monsters">
            <td>{{ monster.name }}</td>
            <td><button (click)="getImage(monster.index)">O</button><input type="checkbox" (click)="viewInfo()"></td>
            <!-- <td>{{ monster. }}</td> -->
            <!-- <td>{{ alumne.curriculum }}</td>
            <td>{{ alumne.pais }}</td> -->
          </tr>
    </tbody>
  </table>